{% extends "base.html.twig" %}

{% block stylesheets %}
    <style>
        #map {
            width:100%;
            height:30em;
            /* z-index: 0; */
        }
        #menu {
            padding: 10px;
            z-index: 1;

            position: absolute;
            top: 0px;
            left: 0px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body" style="padding: 0px;" id="map-card-body">
            <div id="map"></div>
            <div id="menu" class="btn-group" data-toggle="buttons">
                <label class="btn btn-primary active" id="streets-btn">
                    <input id="streets" type="radio" name="rtoggle" checked=""> Streets
                </label>
                <label class="btn btn-primary" id="satellite-streets-btn">
                    <input id='satellite-streets' type='radio' name='rtoggle'> Satellite
                </label>
            </div>
        </div>
    </div>
    
    <div>
        <p>Hello world!</p>

        <pre>Host: {{host}}
        IP: {{ip}}</pre>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        mapboxgl.accessToken = 'undefined';
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v9',
        });

        var layerList = document.getElementById('menu');
        var inputs = layerList.getElementsByTagName('input');

        function switchLayer(layer) {
            var layerId = layer.target.id;
            map.setStyle('mapbox://styles/mapbox/' + layerId + '-v9');

            if(layerId == "satellite-streets") {
                // Remove active from Streets
                $( "#menu #streets-btn" ).removeClass("active");
                $( "#menu #satellite-streets-btn" ).addClass("active");
            } else if(layerId == "streets") {
                // Remove active class from Satellite Streets
                $( "#menu #satellite-streets-btn" ).removeClass("active");
                $( "#menu #streets-btn" ).addClass("active");
            } else {
                throw "Error: Unknown layer";
            }
        }

        for (var i = 0; i < inputs.length; i++) {
            inputs[i].onclick = switchLayer;
        }
    </script>
{% endblock %}